<a href="https://colab.research.google.com/github/UCREL/welsh-summarisation-dataset/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/UCREL/welsh-summarisation-dataset.git

Cloning into 'welsh-summarisation-dataset'...
remote: Enumerating objects: 88, done.
remote: Counting objects: 100% (88/88), done.
remote: Compressing objects: 100% (50/50), done.
remote: Total 88 (delta 40), reused 78 (delta 34), pack-reused 0
Unpacking objects: 100% (88/88), done.

In [13]:
import os
import pickle as pkl
os.chdir('/content/welsh-summarisation-dataset')

In [17]:
with open('./data/dataset.pkl', "rb") as dataset_file:
  dataset = pkl.load(dataset_file)

In [18]:
dataset.head()

    fileId           title  ... readability evaluation
000    411     Andy_Warhol  ...           4          5
001    001           Dulyn  ...           5          5
002    001           Dulyn  ...           4          3
003    001           Dulyn  ...           3          1
004    010  Hanes Iwerddon  ...           4          4

[5 rows x 8 columns]